<p>product-card works!</p>

<div class="Product-card" [class.out-of-stock]="!product.instock">
    <div class="card-header">
        <span class="Category-Badge" >{{ product.category}}</span>
        <span class="stock-status" > {{product.instock | stockStatus}}</span>
    </div>

    <div class="card-body">
        <h3 class="product-name">{{ product.nombre }}</h3>
        <p class="product-description">{{ product.descripcion }}</p>
      
        <div class="price-section">
            <div *ngIf="showDiscount && discountPercent > 0; else normalPrice" > 
                <p class="original-price">{{ product.precio | currency:'USD' }}</p>
                <p class="discounted-price">{{ product.precio | discount:discountPercent | currency:'USD' }}
                   <span class="discount-badge">-{{ discountPercent }}%</span> 
                </p>

        </div>
        <ng-template #normalPrice>
            <p class="price" > {{product.precio | currency: 'USD'}}</p>
        </ng-template>  
    </div>     
    
         <div class="Product-info">
             <small class="Created-date">Agregado: {{product.createAT }}</small>
        </div>

        <p class="creation-date">Creado el: {{ product.createAT | date:'mediumDate' }}</p>
    
        <div class="card-actions">
            <button
                (click)="onViewDetails()"
                class="btn btn-info"
                [disabled]="!product.instock">
                Ver Detalles
            </button>
            
            <button>
                (click)="onDelete"
                class="btn btn-danger"
                Eliminar
            </button>


         </div>

    

</div>
         
          
   

        
        
    